<link rel="stylesheet" href="css/updatepro.css">
<div class="container">  
    <form id="contact" action="/addjob" method="post">
      <h3>ADD JOB</h3>
      <h4></h4>
      <fieldset>
        <input placeholder="job name" name="name" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Discription" name="dis" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="qualification" name="qualification" type="text" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Registerd mailid" name="mailid" type="tel" tabindex="3" required>
      </fieldset>
      <fieldset>
        <input placeholder="Registerd mobile" name="mobile" type="text" tabindex="4" required>
      </fieldset>
      <fieldset>
        <button type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
   
    
  </div>