<link rel="stylesheet" href="css/updatepro.css">
<div class="container">  
    <form id="contact" action="/uploadmywork" method="post" enctype="multipart/form-data">
      <h3>ADD JOB</h3>
      <h4></h4>
      <fieldset>
        <input placeholder="job name" name="name" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Discription" name="dis" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="email id" name="email" type="text" tabindex="1" required autofocus>
      </fieldset>
      <input class="form-control" type="file" name="uploaded_image" accept=""/> <br>
      <fieldset>
        <button type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
   
    
  </div>